<aside id="docs-sidebar">
  <nav>
    <h2>Getting started</h2>
    <ul>
      <li><h4>Installation</h4><li>
      <li><h4>Configuration</h4><li>
      <li><h4>Commands</h4><li>
    </ul>
  </nav>
</aside>
