<footer id="footer">
  <div>
    <img src="/assets/img/tota-logo.svg" class="logo" alt="Tota logo"/>
    <p>Tota is a static-site generator made by <a href="https://izolate.net/">@izolate</a>.</p>
    <br>
    <p>The contents of this website (sans logo) are &copy; 2019 under the MIT license.</p>
  </div>
  <div>
    <nav>
      <h4>Site links</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/articles">Articles</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <h4>Open source</h4>
      <ul>
        <li><a href="https://pub.dev/packages/tota">Pub</a></li>
        <li><a href="https://github.com/tota-dart">GitHub</a></li>
        <li><a href="https://github.com/tota-dart/tota/issues">File an issue</a></li>
        <li><a href="https://github.com/tota-dart/tota-website">Edit this site</a></li>
      </ul>
    </nav>
  </div>
</footer>
