<footer id="footer">
  <div>
    <img src="/assets/img/tota-logo-white.svg" class="logo" alt="Tota logo"/>
    <p>Tota is a static-site generator made by <a href="https://izolate.net/">@izolate</a>.</p>
    <br>
    <p>
      &copy; <span data-insert="year"></span> Tota. MIT license.
    </p>
  </div>
  <div>
    <nav>
      <h4>Site links</h4>
      <ul>
        <li>
          <img class="icon" src="/assets/img/home.svg" alt="house"/>
          <a href="/">Home</a>
        </li>
        <li>
          <img class="icon" src="/assets/img/book-open.svg" alt="open book"/>
          <a href="/docs">Docs</a>
        </li>
        <li>
          <img class="icon" src="/assets/img/help-circle.svg" alt="question mark"/>
          <a href="/articles">Articles</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <h4>Open source</h4>
      <ul>
        <li><a href="https://pub.dev/packages/tota">Pub</a></li>
        <li><a href="https://github.com/tota-dart/tota">GitHub</a></li>
        <li><a href="https://github.com/tota-dart/tota/issues">File an issue</a></li>
        <li><a href="https://github.com/tota-dart/tota-website">Edit this site</a></li>
      </ul>
    </nav>
  </div>
</footer>

<script>
  // Add current year to date span
  for (const el of document.querySelectorAll('span[data-insert="year"]')) {
    el.textContent = new Date().getFullYear();
  }
</script>
