<footer id="footer">
  <div>
    <h4>About</h4>
    <p>Tota is made by <a href="https://izolate.net/">@izolate</a>.</p>
    <br>
    <p>The contents of this website (sans logo) are &copy; 2019 under the MIT license.</p>
  </div>
  <div>
    <nav>
      <h4>Site links</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Docs</a></li>
        <!--<li><a href="/blog">Blog</a></li>-->
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <h4>Open source</h4>
      <ul>
        <li><a href="https://pub.dev/packages/tota">Pub</a></li>
        <li><a href="https://github.com/tota-dart">Github</a></li>
        <li><a href="https://github.com/tota-dart/tota/issues">File an issue</a></li>
        <li><a href="https://github.com/tota-dart/tota-website">Edit this site</a></li>
      </ul>
    </nav>
  </div>
</footer>
