<meta charset="utf-8">
<meta name='viewport', content='width=device-width'>
<meta name="description" content="{{ description }}">

<title>{{ title }}</title>

<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/css/index.css">
