<meta charset="utf-8">
<meta name="viewport", content="width=device-width, viewport-fit=cover">
<meta name="description" content="{{description}}">
<meta name="theme-color" content="#0909FF">

<meta property="og:url" content="{{{site.url}}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{title}}">
<meta property="og:image" content="{{{site.url}}}/assets/img/tota-social.png">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="article:author" content="{{author}}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tota_dart">
<meta name="twitter:creator" content="@izolate">
<meta name="twitter:url" content="{{{site.url}}}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter.image" content="{{{site.url}}}/assets/img/tota-social.png">

<title>{{title}}</title>

<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/css/index.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73798495-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-73798495-3');
</script>
