<!doctype html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="docs">
    <div class="columns full-height">
      <aside class="sidebar">
        {{> docs-sidebar }}
      </aside>
      <main>{{{ content }}}</main>
    </div>
  </body>
</html>
