<!doctype html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="posts">
    <article>
      <nav class="breadcrumbs">
        <a href="/articles">Articles</a>
        <span> → </span>
        <a>{{title}}</a>
      </nav>
      {{{content}}}
    </article>
    {{> footer }}
  </body>
</html>
